* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.9;
}
.navbar {
  background: #1e1e1e;
  padding: 20px 0;
}
.nav-link {
  color: #959595 !important;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 20px;
  transition: color 0.3s;
}
.nav-item:first-child .nav-link {
  color: #fd6f00 !important;
  font-weight: bold;
}
.nav-link:hover {
  color: #fd6f00 !important;
}
.button {
  padding: 12px 40px;
  background: linear-gradient(to right, #fd6f00 0%, #e46400 100%);
  color: #ffffff;
  font-family: "Lato", sans-serif;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
}

/* banner part Start */

#bannerPart {
  padding-top: 100px;

  background: #1e1e1e;
}
.bannerContent {
  padding-top: 236px;
  padding-bottom: 106px;
}

.bannerContent h4 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 3%;
  color: #707070;
}

.bannerContent h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 3%;
  color: #959595;
  padding-top: 10px;
  padding-bottom: 24px;
}

.bannerContent h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 70px;
  letter-spacing: 3%;
  background: linear-gradient(90deg, #984300 0%, #fd6f00 46%, #ca5900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  padding-bottom: 17px;
}
.socialIcon {
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
}
.socialIcon a {
  border: 2px solid #575757;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  opacity: 0.4;
  color: #fff;
  transform: 0.4s;
}
.socialIcon a:hover {
  color: #fd6f00;
}

.bannerbtn a {
  padding: 12px 40px;
  background: #fd6f00;
  border-radius: 8px;
  color: #fff;
  margin-right: 24px;
}
.bannerbtn a:hover {
  color: #dfdfdf;
}

.lowerpartContent {
  padding: 24px;
  background: rgb(36, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.lowerpartContent .box {
  font-weight: 700;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 30px;
  margin-right: 35px;
  border-right: 2px solid #959595;
  color: #dfdfdf;
  box-shadow: #959595;
}
.lowerpartContent .boxx {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 20px;
  padding-top: 6px;
  color: #dfdfdf;
}
.lowerpartContent h2 {
  font-weight: 800;
  font-size: 26px;
  color: #fd6f00;
  letter-spacing: 3%;
  line-height: 100%;
  padding-bottom: 5px;
}

.bannerImage img {
  filter: grayscale(0%);
  transition: filter 0.4s;
}

.bannerImage:hover img {
  filter: grayscale(100%);
}

/* banner part end */

/* Service Part start */

#servicePart {
  background-color: #1e1e1e;
  padding-top: 100px;
  padding-bottom: 60px;
}

.serviceHead {
  padding-bottom: 80px;
}

.serviceHead h2 {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.serviceHead p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #959595;
  line-height: 1.6;
  font-weight: 500;
}

.serviceCard {
  padding: 34px 30px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 24px;
  margin-bottom: 40px;
  transition: 0.4s;
}

.serviceCard:hover {
  box-shadow:  rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.07);
}

.serviceCard h3 {
  padding-top: 24px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 120%;
  color: #fd6f00;
  margin: 0;
}

.serviceCard p {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3%;
  line-height: 160%;
  color: #959595;
  margin: 0;
  width: 339px;
}

/* Service Part End  */
